*{
    padding: 0;
    margin: 0;
}
.content-posts__post{
    width: 60%;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.04);
    position: relative;
}
.content-posts__post:hover{
    background-color: rgba(0, 0, 0, 0.07);
}
.content-posts__post-author{
    padding: 30px;
}
.content-posts__post-author__name{
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
}
.content-posts__post-author__mail{
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 5px;
}
.content-posts__post-title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px 10px;
}
.content-posts__post-text{
    font-size: 14px;
    padding: 20px 10px 30px;
}
.content-posts__post-delete{
    background-color:rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    border: none;
    cursor: pointer;
}
.content-posts__post-delete:hover {
    background-color:rgba(0, 0, 0, 0.4);
}
.content-posts__post-delete:active{
    background-color:rgba(0, 0, 0, 0.6);
}
.error-fetch{
    color: red;
    font-size: 36px;
    text-align: center;
    padding: 50px;
}