.navbar{
    text-align: center;
    width: 1280px;
    position: relative;

 }
.menu{
    padding: 14px 0;
}
.menu li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
 }
 .menu a{
    text-decoration: none;
    color: red;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.main_block{
    text-align: center;
    width: 1280px;
}
.main_text{
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 38px;
}
.text{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 28px auto;
    width: 1145px;
}
.button_started{
    background-color: red;
    width: 191px;
    height: 51px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin-top: 66px;
    margin-bottom: 42px;
}
.footer{
    width: 1280px;
}
.rights{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 40px 105px 29px 0;
}

