
*{
    padding: 0;
    margin: 0;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBackground{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.content{
    width: 70%;
    background-color: rgba (#1976d2, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    padding: 20px 10px;
}
.modalHeader{
    justify-self: start;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba($color: #1976d2, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    position: relative;
}
.text{
    padding: 20px 10px;
    color: white;
}
.btns{
    display: flex;
}
.modalHeader Button{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    gap: 10px;
}
h2{
    padding: 10px 100px;
}

