.account{
    width: 100%;
    display: grid;
    border: solid lightgray 1px;
    background-color: #fff;
    grid-template-columns: 7fr 1fr 2fr 1fr;
    gap: 5px;
    align-items: center;
}
p{
    padding: 10px;
    font-size: 10px;
}
.addbutton{
    font-size: 8px;
    background-color: #fff;
    padding: 0 10px;
    border: solid lightgray 1px;
    width: 50px;
    height: 20px;
    font-weight: 700;
    margin: 0 5px;
    
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    &:active{
        background-color: #fff;
    }
}