*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.navbar{
    width: 100%;
    background-color: #313131;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
}
.logo {
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo:hover p{
    text-decoration: underline;
}
.img-logo{
    width: 81px;
    height: 70px;
    position: relative;
}
.img-logo img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
.logo p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: auto;
    padding: 0 20px;
}
.navbar ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
 }
.navbar ul li{
    display: flex;
    align-items: center;
}
.navbar ul li a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #14B9D5;
}
.search-sigh{
    width: 68px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #000000;
}
.search-sigh img{
    margin: auto;
    transition: 0.5s;
}
.search-sigh img:hover{
    transform: scale(1.5);
}
.header{
    width: 100%;
    background-image: url(./img/header-bg.jpeg);
    height: 369px;
    text-align: center;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: cover;
}
.header-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 164px;
}
.header-buttons{
    margin: 44px auto 74px auto; 
}
.button{
    color: #FFFFFF;
    text-align: center;
    margin: 0 10px;
    width: 170px;
    height: 55px;
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border-radius: 6px;
}
.btn-1{
    background-color: #89CA62;
    border-color: #89CA62;
}
.btn-2{
    background-color: #14B9D5;
    border-color: #14B9D5;
}
.posts{
    height: 1032px;
    width: 100%;
    background: #F2F2F2;
}
.section-header-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
    justify-content: space-between;
}
.post-imagies{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 87%;
    width: 62%;
    margin: 0 auto;
}
.imagies {
    max-width: 30%;
    margin-right: 50px;
    margin-bottom: 28px;
}
.imagies img{
    width: 100%;
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #353A3D;
    text-align: center;
    padding: 20px 0;
    background-color:#FFFFFF;
 }
 .imagies a{
    text-decoration: none;
 }
 .clients{
    width: 100%;
    background-image: url(./img/parallax-bg.jpeg);
    height: 588px;
    text-align: center;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: cover;
}
 .clients-header-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 106px;
    padding-bottom: 87px;
    position: relative
 }
 .clients-header-text::after{
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background-color: #18B4CF;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
 .clients-logos{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    justify-content: space-around;
    padding-top: 106px;
    align-items: center;
    margin: auto;
 }
 .top-rated{
    width: 100%;
 }
 .top-rated-list{
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.top-rated-list img{
    width: 100%;
}
.hot-news a{
    text-decoration: none;
}
.hot-news-posts{
    display: grid;
    width: 62%;
    grid-template-columns: repeat(auto-fit, minmax(15%,1fr));
    grid-template-rows:  repeat(4, auto);
    grid-template-areas: 
    "hot-news-item1 hot-news-item1 hot-news-item1 hot-news-item2"
    "hot-news-item3 hot-news-item3 hot-news-item4 hot-news-item4"
    "hot-news-item5 hot-news-item5 hot-news-item6 hot-news-item6"
    "hot-news-item7 hot-news-item8 hot-news-item8 hot-news-item8"; 
    gap: 44px 35px;
    margin: auto;
    justify-content: space-between;
}
.hot-news-item1{
    grid-area: hot-news-item1;
}
.hot-news-item2{
    grid-area: hot-news-item2;
}
.hot-news-item3{
    grid-area: hot-news-item3;
}
.hot-news-item4{
    grid-area: hot-news-item4;
}
.hot-news-item5{
    grid-area: hot-news-item5;
}
.hot-news-item6{
    grid-area: hot-news-item6;
}
.hot-news-item7{
    grid-area: hot-news-item7;
}
.hot-news-item8{
    grid-area: hot-news-item8;
}
.descr-post-news{
    background: #F2F2F2;
    width: 100%;
}
.hot-news-type1{
    width: 100%;
}
.hot-news-type1 a{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.hot-news-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding: 14px 5px;
}
.hot-news-type2 .hot-news-title{
    text-align: center;
}
.hot-news-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    padding: 1px 13px;
}
.hot-news-posts img{
   width: 100%;
   height: 100%; 
 }
.footer{
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 77px;
}
.fotter-text-rights{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.fotter-logo-img{
    position: relative;
}
.fotter-logo-img img{
    vertical-align: top;
}