*{
    box-sizing: border-box;
}
.page{
    width: 1280px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header{
    margin: 10px 0; 
    width: 100%;
}

.color-blue{
    color: blue;
}
.navbar, h1{
    margin: 38px 0;
}
.header h1 a{
    color: #000000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
}
 .navbar ul{
    display: flex;
    background-color: #35444F;
    padding: 0;
    justify-content: center;
    align-content: center;
    height: 72px;
    list-style: none;
 }
 .navbar ul li{
     padding: 26px 40px 19px 40px;
     border-left: 1px solid white;
     border-right: 1px solid white;
 }
 .navbar li a{
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
 }
 .navbar ul :hover{
    background-color: #222F3A;
 }
.asidebar{
    width: 344px;
    border: 1px solid #000000;
    height: fit-content;
}
/* .asidebar li{
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 42px;
    background-color:white;
    height: 20%;
} */
/* .asidebar li a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    color: #495863;
}
.asidebar li a:hover{
    color: #35444F;
} */
/* .asidebar li:hover{
    background-color:#DBDBDB;
    padding-left: 62px;
} */
.asidebar a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    color: #495863;
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 42px;
}
.asidebar a:hover{
    background-color:#DBDBDB;
    padding-left: 62px;
    color: #35444F;
}
.main-content{
    width: 885px;
}
.picture{
    text-align: center;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    margin-bottom: 37px;
}
.picture img{
    margin: auto;
    transition: 1s;
}
.picture img:hover{
    transform: scale(1.2);
}
.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 34px 0;
}
.footerbar{
    margin: 10px 0; 
    width: 100%;
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    align-content: center;
    justify-content: space-around;
    /* opacity: 0.48; */
}
.footerbar ul{
    display: flex;
    padding: 0;
    justify-content: center;
    align-content: center;
    list-style: none;
    width: 875px;
    justify-content: space-between;
}
.footerbar ul li{
    margin: auto 0;
}
.footerbar ul li:hover{
    border-bottom: 1px solid #3181A6;
}
.footerbar ul li a:hover{
    color: #3181A6;
}
.footerbar ul li a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;  
}
.copyright{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin: auto 5px;
}
