*{
    margin: 0;
    padding: 0;
}
.all-page{
    width: 1366px;
 /*    height: 768px; */
    background-image: url(../img/background.png);
  /*   background-size: cover;  */
    margin: auto;
} 
.wrapper{
    width: 1028px;
    margin: auto;
}
.text-font{
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}
.header{
    display: flex;
    height: 61px;
    padding-top: 46px;
    padding-bottom: 17px;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
}
.header a{
    text-decoration: none;
}
.logo {
    display: flex;
}
.logo-img{
    width: 53px;
    height: 47px;
    background-image: url("../img/logo_3.svg");
}
 .logo-name{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo-big-name {
    font-size: 29px;
    line-height: 29px;
}
.contacts{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}
.logo:hover .logo-name,
.contact-mail:hover, 
.contact-phone:hover{
    color: #F26522;
}
.logo:hover .logo-img{
    background-image: url("../img/logo_2.svg");
}
.section-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-wrapper a{
    text-decoration: none;
}
.post{
    width: 300px;
    height: 298px;
}
.content-img{
    width: 300px;
}
.content-img-price{
    position: relative;
    height: 220px;
}
.content-price{
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    background-color: #F26522;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.price-details{
    display: flex;
    justify-content: space-between;
}
.content-price{
    width: 100%;
    display: none;
}
.text-content-price{
    font-size: 10px;
    line-height: 10px;
    padding-left: 16px;
}
.price{
    font-size: 20px;
    line-height: 20px;
    padding-left: 16px;
}
.view-details{
    font-size: 14px;
    line-height: 14px;
    padding-right: 37px;
    position: relative;
}
.view-details::after{
    content: '>';
    padding: 0 16px;
    position: absolute;
}
.content-name{
    text-align: center;
    padding: 20px 0 37px 0;
}
.footer{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding-bottom: 15px;
}
.post:hover .content-price{
    display: flex;
}
.post:hover .content-name{
    color: #F26522;
}