body{
    background-image: url("../img/back.png");
    background-size: cover; 
}
.header{
    width: 100%;
    display: grid;
    grid-template-columns: 79px 4fr 1fr 1fr 79px ;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.font-header{
    font-family: 'Ubuntu';
    font-style: normal;
    color: #FFFFFF;
    padding: 18px 0px;
}
.site-name{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    grid-column-start: 2;
}
.signs{
    position: relative;
    text-align: center;
    justify-self: right;
    padding-right: 12px;
}
.signs a{
    text-align: center;
    padding: 0px 12px;
}
.signs::after{
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-left: 12px;
    height: 80%;
    top: 0;
    position: absolute;
    transform: translateX(-50%);
}
.loging{
    font-size: 14px;
    line-height: 14px;
    padding-left: 27px;
}
.main-wraper{
    width: 33%;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: auto;
}
.form-auth{
    width: 73%;
    margin: auto;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
}
.button{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 17px 0;
    border-radius: 4px;
}
.btn-red{
    background-color: #DF4A32;;
}
.btn-blue{
    background-color: #305DB8;
}
.fonts-form{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.input_text{
    padding: 15px 20px;
}   
.btn-submit{
    background: rgba(60, 184, 120, 0.8);
    text-align: center;
    padding: 16px 0;
    width: 100%;
}
.agreed{
    display: inline-block;
    
}
.checkbox-argeed{
    width: 10px;
    background: #305DB8;
}