*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
}
#root{
    width: 80%;
    margin: auto;
}
#root ul {
    width: 100%;
}
.list-item{
    width: 100%;
    background-color: rgb(0,0,0,.05);
    align-items: center;
    padding: 25px;
    margin: 25px auto;
    list-style: none;
}
.list-item-category{
    font-size: 18px;
    font-weight: 700;
}
.list-item-value{
    font-size: 14px;
}