.navbar{
    width: 20%;
    max-width: 100px;
    background-color: #fff;
    height: 100VH;
}
.navbar li{
    padding: 5px;
    font-size: 12px;
    color: rgba($color: #000000, $alpha: 0.5);
    text-align: center;
}
.navbar a{
    text-decoration: none;
}

.navbar li:hover{
    background-color: rgba($color: #000000, $alpha: 0.1);
}