.card{
    border: solid 1px rgba($color: #000000, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    column-gap: 10px;
    min-width: 400px;
    max-width: 500px;
    border-radius: 15px;
}
.imgFavorite img{
    width: 40px;
    height: 40px;
    position:absolute;
    top: 10px;
    right: 10px;
}
.imgMain{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgMain img{
    max-height: 300px;
}
.prise{
    font-size: 24px;
    font-weight: 700;
}