#find-computer{
    width: 60%;
    height: 60vh;
    margin: auto;
    border: 1px solid rgba(20, 185, 213, 0.4);
    border-radius: 20px;
    background-color:rgba(20, 185, 213, 0.2);
    display: flex;
    flex-direction: column;
/*     justify-content: center; */
    align-items: center;
    
}
#find-computer__button{
    padding: 15px 25px;
    background-color: rgba(20, 185, 213, 0.5);
    border-radius: 15px;
    border-color: unset;
    margin: 50px 0;
}
#find-computer__informantio{
    width: 80%;
    height: 50%;
}
#find-computer__informantion p span{
    font-weight: 700;
}
#find-computer__informantion p{
    font-size: 18px;
}