@import './variables';

@mixin flex ($justifyContent: center, $alignIitems: center, $flexDirection: row){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignIitems;
}


@mixin text ($fontWeight: 400, $lineHeight: $mob-title-fontsize, $fontSize: $mob-title-fontsize) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

@mixin backgrount-img-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}