$rimary-text-color: #4E4E4E;
$secondary-text-color: #5C5C5C;
$sub-text-color: #7C7C7C;
$footer-text-color: #B9B9B9;
$footer-title-color: #FEFEFE;
$footer-background-color: #000000;
$navbar-menu-background: #F5F5F5;
$navbar-menu-background-hover:#E5E5E5;
$menu-item-active:#57A4A4;

$mob-title-fontsize: 14px;
$title-fontsize: 16px;

$font-family: 'Roboto';

$breake-point-mob: 320px;
$breake-point-tab: 768px;
$breake-point-laptop: 1200px;

$max-width: 1170px;
