.cartContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.noItemsText{
    padding: 200px;
}
.totalAmount{
    width: 100%;
    border-top: solid 5px rgba($color: #000000, $alpha: 0.3);
    margin-top: 50px;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.totalAmount span{
    margin: 20px;
}