.customerContainer{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: left;
}
.customerContainer h5{
    padding: 5px;
    font-style: italic;
}
.customerContainer p{
    padding: 3px 10px;
    text-align: left;
}
.addbutton{
    font-size: 8px;
    background-color: #fff;
    padding: 0 10px;
    border: solid lightgray 1px;
    width: 100px;
    height: 20px;
    font-weight: 700;
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    &:active{
        background-color: #fff;
    }
}

.customerHeader{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}