.wrapper{
    width: 80%;
    margin: 20px auto;
}

.list-element{
    padding: 10px 20px;
    font-size:18px;
    font-weight: 700;
    margin: 10px;
    list-style-type: "\2714";
    line-height: 100%;
}
.list-element:hover{
    color: blue;
}
.container{
    background-color: antiquewhite;
    border-radius: 6px;
    border: 2px solid brown;
}
.container h2{
    text-align: center;
}