*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgba(0, 0, 0, 0.05);
}
#movie-list{
    width: 80%;
    margin: auto;
    list-style: none;
}
.movie-list_item{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color:rgba(0, 0, 0, 0.05);
    border: 2px solid gray;
    border-radius: 20px;
}
.movie-list_item-episode{
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 36px;
}
.movie-list_item-title{
    padding: 10px 20px;
    font-size: 24px;
}
.movie-list_item-description{
    padding: 10px 20px;
    font-size: 18px;
}
.movie-list_item-characters{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: disc;
}
.movie-list_item-characters_item{
    padding: 20px;
}
.movie-list_item-characters_item a{
    display: block;
}
.span-title{
    font-weight: 700;
}
.movie-list_item-characters_name{
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
}