.customer{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    border: solid lightgray 1px;
    background-color: #fff;

}
.name{
    width: 100%;
    font-size: 16px;
}
.customerData{
    gap: 5px;
    width: 100%;
    display: flex;
    text-align: left;
}
.customerData p{
    font-size: 8px;
}
.activeCustomer{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: rgba($color: lightblue, $alpha: 0.2);
    border: solid lightgray 1px;
    align-items: center;
}
.addbutton{
    font-size: 8px;
    background-color: #fff;
    padding: 5px 10px;
    border: solid lightgray 1px;
    width: 50px;
    height: 20px;
    font-weight: 700;
    margin: 0 5px;
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    &:active{
        background-color: #fff;
    }
}
.customerInfo{
    display: flex;
    flex-direction: column;
}
