@import './base/_reset.scss';
@import './abstracts/variables.scss';
@import './layout/_navigation.scss';
@import './layout/_header.scss';
@import './abstracts/_titles.scss';
@import './layout/_posts.scss';
@import './layout/_instagram.scss';
@import './layout/_footer.scss';

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: $font-family;
}

.display-none{
    display: none;
}

.content-wraper{
    padding: 0 28px 0 25PX;
    max-width: $max-width;
    margin: 0 auto;
} 