.card{
    border: solid 1px rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 40px;
    row-gap: 15px;
    width: 100%;
    max-height: 50px;
    border-radius: 15px;
}
.imgFavorite img{
    width: 40px;
    height: 40px;
    position:absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.imgMain{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgMain img{
    width: 60px;
    margin: auto;
    padding: 10px;
}
.prise{
    font-size: 24px;
    font-weight: 700;
}
