@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer{
    width: 100%;
    background-color: $footer-background-color;
    text-align: center;
    padding: 38px 35px 47px 35px;
    .section-title{
        color: $footer-title-color;
        padding-bottom: 8px;
    }
}
.footer__text{
    @include text(400, 20px, 12px);
    color: $footer-text-color;
}
.footer__social-icons{
    @include flex;
    gap: 6px;
    padding: 25px 0;
}
.footer__contacts{
    @include text(400, 24px, 14px);
    color: $footer-text-color;
    a{
        text-decoration: none;
        color: $footer-text-color;
    }
}

@media (min-width:$breake-point-tab){
    .footer__text{
        @include text(400, 28px, 16px);
    }
    .footer__contacts{
        @include text(400, 26px, 16px);
    }
}
