@import '../abstracts/_variables.scss';

.header{
    width: 100%;
}

.header__img{
    width: 100%;
    height: 40vw;
    max-height: $max-width*0.4;
    background-image: url('../img/intro-img-s.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: $breake-point-tab) {
        background-image: url('../img/intro-img-m.jpg');
    }
    @media (min-width: $breake-point-laptop) {
        background-image: url('../img/intro-img-b.jpg');
    }
}