*{
    padding: 0;
    margin: 0;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBackground{
    background-color: rgba($color: black, $alpha: 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.content{
    width: 70%;
    background-color: coral;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
}
.modalHeader{
    justify-self: start;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba($color: black, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    padding: 20px 10px;
}

