body {
    background-color: gray;
}
 .menu a{
    color:bisque;
 }
 .main_text{
     color: white;
 }
.text{
    color: white;
}
.button_started{
    background-color:bisque;
    color: gray;
}
.rights{
    color: white;
}

