.curtContainer{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 80px;
    right: 0;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    background-color: white;
    padding: 20px;
}