.font-bold{
    font-family:  'Montserrat', 'sans-serif';
    font-weight: 700;
}
.font{
    font-family:  'Montserrat', 'sans-serif';
}
.content-wraper{
    width: 60%;
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.navbar{
    width: 100%;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}
.navbar a{
    text-decoration: none;
}
.menu{
    display: flex;
    height: 100%;
    align-items: center;
}
.menu-item{
    margin: 0 16px;
    align-items: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-item a{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}
.menu-item a:hover{
    color: rgba(24, 207, 171, 1);
}
.menu-item a:hover::after{
    content: '';
    border: 1px solid rgba(24, 207, 171, 1);
    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0;
}
.search img{
    transition: 0.5s;
}
.search img:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.logo{
    display: flex;
}
.logo-img{
    background-image: url('../img/Polygon.png');
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    width: 58px;
    height: 67px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo-name{
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 6px;
}
.logo-name span{
    color: rgba(24, 207, 171, 1)
}
.header{
    width: 100%;
    height: 1012px;
    background-image: url('../img/Sections_background/header.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-company-name{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-company-name span{
    color:  rgba(24, 207, 171, 1);
}
.header-title{
    font-size: 78px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 22px 0;
}
.header-slogan{
    font-size: 34px;
    text-align: center;
    color: #D4D4D4;
}
.header-buttoms{
    display: flex;
    margin-top: 134px;
}
.btns{
    width: 169px;
    padding: 16px 0;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 26px;
    border: none;
    box-shadow: 0 -5px 0 #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
}
.btns-clicked{
    box-shadow: none;
    transform: translate(0, -5px);
}
.btn-green{
    background-color: #18CFAB;
}
.btn-blue{
    background-color: #00CBF6;
}
.options{
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.text-options{
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.item-option:nth-child(2n-1){
    padding-top: 20px;
    background: #1C2A33;
    color: #18CFAB;
}
.item-option:nth-child(2n){
    background: #18CFAB;;
    color: #FFFFFF;
}
.item-option{
    border-top: 8px solid #FFFFFF;
    border-bottom: 8px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.item-option:nth-child(2n) img{
    padding: 20px;
}
.service{
    text-align: center;
    margin-bottom: 90px;
}
.section-title{
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding: 80px;
    position: relative;
}
.section-title::before{
    content: '';
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    bottom: 55px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
.section-title::after{
    content: '';
    width: 80px;
    border: 1px solid #18CFAB;
    position: absolute;
    bottom: 50px;
    display: block;
    left: 51%;
    transform: translateX(-50%);
}
.service-type{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 76px;
    margin: 20px 0;
}
.type-item{
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 16px;
    line-height: 39px;
    padding: 15px 0;
    color: rgba(113, 113, 113, 1);
    cursor: pointer;
    user-select: none;
}
.type-item:hover{
    border: 1px solid rgba(24, 207, 171, 1);
}
.type-item-chosen{
    background: #18CFAB;
    color: rgba(255, 255, 255, 1);
    position: relative;
}
.type-item-chosen::after{
    content: url("../img/Rectangle.png");
    position: absolute;
    display: block;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.type-information{
    display: flex;
}
.type-information-item{
    display: none;
    width: 100%;
}
.type-information-item img{
    width: 192px;
    height: 139px;
    object-fit: cover;
}
.info-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    text-align: justify;
    margin-left: 15px;
}
.active{
    display: flex;
}
.purchase{
    width: 100%;
    height: 476px;
    background-image: url('../img/Sections_background/section-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    position: relative;
}
.purchase .content-wraper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.purchase-text{
    text-align: center;
}
.purchase h2{
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 12px 0;
}
.purchase p{
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
.work{
    width: 100%;
    background: #E9EDEF;
}
.work-type{
    display: flex;
    justify-content: center;
}
.work-type-item{
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding: 14px 16px;
    border: 1px solid #DADADA;
    cursor: pointer;
    user-select: none;
}
.chosen-item-work{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.work-type-item:first-child{
    padding: 14px 28px;
}
.work-examples{
    margin: 0 auto;
    display: grid;
    padding: 71px 0;
    grid-auto-columns: repeat(4, 284px);
    grid-auto-rows: 206px;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 206px);
    justify-content: center;
}
.card-wraper{
    perspective: 1000px;
    width: 100%;
    height: 100%;
}
.work-cards{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card-wraper:hover .work-cards{
    transform: rotateY(180deg);
}
.card-front img{
    width: 100%;
    object-fit: cover;
}
.card-front, .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}
.card-back .icon{
    width: 88px;
    height: 43px;
    margin-top: 46px;
    margin-bottom: 24px;
}
.card-name{
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}
.card-category{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.load-more-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 99px;
}
.load-more{
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    width: 168px;
    border: none;
    height: 63px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}
.display-none{
    display: none;
}
.load-more svg{
    padding-right: 15px;
}
.news{
    text-align: center;
    width: 100%;
}
.news-posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 130px;
    row-gap: 46px;
    column-gap: 35px;
}
.news-posts a{
    text-decoration: none;
}
.post{
    position: relative;
}
.post img{
    width: 100%;
}
.post-title{
        width: 210px;
}
.post-title .title{
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}
.post-info span{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding: 0 5px;
}
.news-date{
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background: #203E38;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.news-posts a:hover .news-date{
    background: #18CFAB;
}
.news-posts a:hover .post-title .title{
    color:#18CFAB;
}
.people-say{
    width: 100%;
    height: 853px;
    background-image: url('../img/Sections_background/section-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.transperent{
    background-color:rgba(0,0,0,.8);
    height:100%;
    position:absolute;
    width:100%;
    top:0;
    left:0;
}
.people-say .transperent{
    background-color:rgba(0,0,0,.4);
}
.people-say .section-title{
    color: #FFFFFF;
}
.people-say-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center; 
    color: #BBBBBB;
    margin: 36PX 0;
}
.person{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-name{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #18CFAB;
}
.person-profession{
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #18CFAB;
}
.person-foto{
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: 12px solid rgba(12, 94, 76, 0.4);
    margin: 40px 0;
}
.person-foto img{
    width: 100%;
}
.people-carusel{
    display: flex;
    align-items: center;
    justify-content: center;
}
#preview, #nextview{
    width: 31px;
    height: 31px;
    font-size: 25px;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carusel-content{
    display: flex;
    width: 421px;
    justify-content: space-evenly;
}
.img-people{
    margin: 10px 0;
    border-radius: 50%;
    border: 6px solid rgba(12, 94, 76, 0.4);
    cursor: pointer;
}
.img-people img{
    width: 100%;
    height: 100%;
    user-select: none;
}
.active-carusel{
    margin: 0 0 20px 0;
}
/* .img-people:hover{
    margin: 0 0 20px 0;
} */
#preview:hover, #nextview:hover{
    background-color: #18CFAB;
    color: #FFFFFF;
    cursor: pointer;
}
.best-img{
    width: 100%;
}
.grid-masonry{
    width: 100%;
    margin: 25px auto;
}
.grid-item{
    width: 32%;
}
.massonry-item{
    margin-bottom: 20px;
}
.grid-item img{
    width: 100%;
}
.inner-conteiner{
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 3px;
}
.bigger-set{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}
.bigger-set-item{
    width: 100%;
}
.bigger-set img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.smaller-set{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}
.smaller-set-item{
    width: 100%;
}
.smaller-set-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#gallery-load-more{
    margin: 40px auto;
}
.footer{
    background: #22353F;
    width: 100%;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.copyright span{
    color: #18CFAB;
}

#fountainG, #fountainG-gallery{
	position:relative;
	width:234px;
	height:28px;
}
#fountainG-gallery{
    margin: 58px auto;
}
#fountainG{
    margin: 18px auto;
}
.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(24,207,171);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1, #fountainG_1-gallery{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2, #fountainG_2-gallery{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3, #fountainG_3-gallery{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4, #fountainG_4-gallery{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5, #fountainG_5-gallery{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6, #fountainG_6-gallery{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7, #fountainG_7-gallery{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8, #fountainG_8-gallery{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(24,207,171);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(24,207,171);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(24,207,171);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(24,207,171);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(24,207,171);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(24,207,171);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(24,207,171);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(24,207,171);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(24,207,171);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(24,207,171);
	}
}
